<div class="curr-app">
  <div class="container">
      <div class="row">
        <div class="col-sm-8">
        <input type="number" class="amount1" name="amount1" #amount1 (keyup)="getamount(amount1.value,currency1.value,currency2.value)" value="{{currencyAmount1}}">
      </div>
      <select name="currency1" #currency1 class="col-sm-4 col-form-label" (mouseleave)="getamount(amount1.value,currency1.value,currency2.value)">
        <option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</option>
      </select>
      </div>
      <div class="row">
        <div class="col-sm-8">
        <label for="currency1">{{currencyAmount2}}</label>
      </div>
      <select name="currency2" #currency2 class="col-sm-4 col-form-label" (mouseleave)="getamount(amount1.value,currency1.value,currency2.value)">
        <option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</option>
      </select>
      </div>
  </div>
</div>